.promo {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.promo-text {
  display: flex;
  font-size: 50px;
  margin: 0;
  flex-direction: column;
  margin: auto;
  align-items: center;
  text-align: center;
}

.promo-text-objects {
  font-weight: bold;
  color: brown;

}

.promo-text-wrapper {
  margin: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.promo-text-differences {
  font-weight: bold;
  color: darkorange;
  margin-top: 0;
}

.start-button {
  cursor: pointer;
  color: rgb(34, 98, 215);
  background: none;
  border: none;
  font-weight: bold;
}